[Unit]
Description=dotnet notes-core
After=network.target
After=mariadb.service

[Service]
Environment=COMPlus_EnableDiagnostics=0
EnvironmentFile=
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=notes-core
WorkingDirectory=/foo/bar
ExecStart=/usr/local/bin/dotnet /foo/bar/notes-core/Notes.dll
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
