@using notes
@inject Settings Options

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="version" content="@await Component.InvokeAsync("Version")">

		<title>@ViewBag.Title@Options.SiteName</title>

		@await Html.PartialAsync("_PartialStyles")

		@await Html.PartialAsync("_PartialIcons")
	</head>
	<body>
		<div class="container">
			@RenderBody()
		</div>

		@await Html.PartialAsync("_PartialScripts")

		@RenderSection("script", required: false)
	</body>
</html>
