<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>@RenderSection("title", required: false)Notes!</title>
		<link href="/lib/bootstrap.min.css" rel="stylesheet">
		<link href="/lib/metisMenu.min.css" rel="stylesheet">
		<link href="/lib/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="/css/sb-admin-2.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
				@RenderBody()
		</div>

		<script src="/lib/jquery.min.js"></script>
		<script src="/lib/bootstrap.min.js"></script>
		<script src="/lib/metisMenu.min.js"></script>
		<script src="/js/sb-admin-2.js"></script>
	</body>
</html>
