@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<li class="nav-item dropdown">
	<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-user"></i> @await Component.InvokeAsync("DisplayName") <span class="caret"></span></a>
	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		@if((await AuthorizationService.AuthorizeAsync(User, "AdministratorOnly")).Succeeded) {
		<a class="dropdown-item" href="@Url.Action("index", "account", new { area = "admin" })"><i class="fa fa-fw fa-cogs"></i> Administration</a>
		<div class="dropdown-divider"></div>
		}
		<a class="dropdown-item" href="@Url.Action("settings", "user", new { area = String.Empty })"><i class="fa fa-fw fa-sliders"></i> Settings</a>
		<a class="dropdown-item" href="@Url.RouteUrl("logout")"><i class="fa fa-fw fa-power-off"></i> Sign out</a>
	</div>
</li>