<hr />
<footer>
	<p class="pull-left"><a class=" text-secondary" style="text-decoration: none;" href="https://github.com/virtualdreams/notes-core"><i class="fa fa-fw fa-github-alt"></i> &copy; 2018 Notes!</a></p>
	<p class="pull-right"></p>
</footer>