@model IEnumerable<notes.Models.NoteModel>
@using notes.Helper

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th style="text-align: right; width: 150px;"><i class="fa fa-clock-o"></i> Submitted</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var note in Model) {
            <tr data-score="@note.Score">
                <td>
                    <a href="@Url.RouteUrl("view", new { id = note.Title.ToSlug(note.Id) })">@note.Title</a>
                </td>
                <td><span class="pull-right text-muted small"><em>@note.Age</em></span></td>
            </tr>
            }
        </tbody>
    </table>
</div>