@model notes.Models.NoteViewContainer
@using notes.Helper;

@{
	Layout = null;
}

<div class="row">
	<div class="col-lg-12">
		<markdown>@Html.Raw(Model.Note.Content)</markdown>
	</div>
</div>