@model notes.Models.UserListContainer
@using notes.Helper

@section title
{
	Accounts - 
}

<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<div class="btn-toolbar pull-right">
				<div class="btn-group">
					<button type="button" class="btn btn-primary" data-href="@Url.Action("create", "account")"><i class="fa fa-user"></i> Create</button>
     			</div>
   			</div>
   			<h1><i class="fa fa-users"></i> Accounts</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Username</th>
						<th>Role</th>
						<th style="width: 100px;">Status</th>
					</tr>
				</thead>
				<tbody>
					@foreach(var user in Model.Users) {
					<tr>
						<td>@user.Username</td>
						<td>@user.Role</td>
						<td>@(@user.Enabled ? "Active" : "Disabled" )</td>
					</tr>
					}
				</tbody>
			</table>
		</div>	
	</div>
</div>