{
	"Kestrel": {
		"EndPoints": {
			"Http": {
				"Url": "http://127.0.0.1:5000"
			}
		}
	},
	"ConnectionStrings": {
		"Default": "Server=localhost;Database=notes;User=notes;Password=notes"
	}
	"Database": {
		"Provider": "MySql"
	},
	"FeatureManagement": {
		"ModelStateDebug": false
	},
	"Settings": {
		"KeyStore": "/foo/bar/key-ring/",
		"SiteName": "Notes! - Save your thoughts",
		"PageSize": 20
	},
	"Mail": {
		"Enabled": false,
		"Server": "localhost",
		"Port": 25
	}
}