[Unit]
Description=dotnet notes-core
After=network.target
After=mariadb.service

[Service]
;Environment=ASPNETCORE_URLS=http://127.0.0.1:5001/
EnvironmentFile=
;Restart=always
;RestartSec=10
Type=simple
SyslogIdentifier=notes-core
WorkingDirectory=/foo/bar
ExecStart=/usr/local/bin/dotnet /foo/bar/notes.dll
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
