@model Notes.Models.NoteSearchContainer

@{
	ViewBag.Title = "Search - ";
	ViewBag.Search = @Model.Term;
}

<div class="row">
	<div class="col-lg-12">
		<div class="pb-2 mt-4 mb-2 border-bottom">
			<h1>
				<i class="fa-solid fa-fw fa-search"></i> Search results
			</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		@if(Model.Notes.Count() > 0) {
			<partial name="_PartialNotes" model="Model.Notes" />
		} else {
			@:There were no results matching the query.
		}
	</div>
</div>

@if(Model.Pager.HasNext) {
<div class="row">
	<div class="col-lg-12">
		<nav>
			<ul class="pagination justify-content-center">
				<li class="page-item">
					<a class="page-link" asp-route="search" asp-route-q="@Model.Term" asp-route-after="@Model.Pager.NextPage" rel="nofollow next">Older</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
}