@{
	Layout = "_LayoutMinimal";
	ViewBag.Title = "E-mail sent! - ";
}

<div class="row justify-content-center">
	<div class="col-md-4">
		<div class="mt-5 card">
			<div class="card-header">
				Reset your password
			</div>
			<div class="card-body">
				<div class="form-group">
					Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.
				</div>
				<button type="button" class="btn btn-primary btn-block" data-href="@Url.RouteUrl("login")">Return to sign in</button>
			</div>
		</div>
	</div>
</div>