@using Notes.Extensions;

@{
	Layout = "_LayoutMinimal";
	ViewBag.Title = "Forgot your password? - ";
}

<div class="row justify-content-center">
	<div class="col-md-4">
		<div class="mt-5 card">
			<div class="card-header">
				Reset your password
			</div>
			<div class="card-body">

				@if(Html.HasError("error")) {
					<div class="alert alert-danger">
						@Html.ErrorMessage("error")
					</div>
				}

				<form action="@Url.RouteUrl("forgot_password")" method="post" enctype="multipart/form-data" id="forgot-form">
					<div class="mb-3">
						Enter your email address and we will send you a link to reset your password.
					</div>
					<div class="mb-3">
						<label class="form-label" for="username">E-mail address</label>
						<input class="form-control" type="email" name="username" id="username" placeholder="E-mail" autofocus validation-for="username" />
					</div>
					<input class="btn btn-primary" type="submit" value="Send password reset email" />
				</form>
			</div>
		</div>
	</div>
</div>