@model Notes.Models.PasswdResetModel
@using Notes.Extensions;

@{
	Layout = "_LayoutMinimal";
	ViewBag.Title = "Change your password - ";
}

<div class="row justify-content-center">
	<div class="col-md-4">
		<div class="mt-5 card">
			<div class="card-header">
				Change your password
			</div>
			<div class="card-body">

				@if(Html.HasError("error")) {
					<div class="alert alert-danger">
						@Html.ErrorMessage("error")
					</div>
				}

				<form asp-route="reset_password" asp-route-id="@Model.Token" method="post" enctype="multipart/form-data" id="reset-form">
					<div class="mb-3">
						<label class="form-label" for="newpassword">New Password</label>
						<input class="form-control" type="password" name="newpassword" id="newpassword" placeholder="New password" value="" validation-for="newpassword">
					</div>
					<div class="mb-3">
						<label class="form-label" for="confirmpassword">Confirm new password</label>
						<input class="form-control" type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm password" value="" validation-for="confirmpassword">
					</div>
					<input class="btn btn-primary" type="submit" value="Change password">
				</form>
			</div>
		</div>
	</div>
</div>