@model Notes.Models.NoteListContainer

<div class="row">
	<div class="col-lg-12">
		<div class="pb-2 mt-4 mb-2 border-bottom">
			<h1>
				<i class="fa-solid fa-fw fa-file"></i> Notes
			</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		@if(Model.Notes.Count() > 0) {
			<feature name="Cards">
				<partial name="_PartialNotesSheets" model="Model.Notes" />
			</feature>
			<feature name="Cards" negate="true">
				<partial name="_PartialNotes" model="Model.Notes" />
			</feature>
		} else {
			@:There are no more notes at the moment.
		}
	</div>
</div>

@if(Model.Pager.HasNext) {
<div class="row mt-4">
	<div class="col-lg-12">
		<nav>
			<ul class="pagination justify-content-center">
				<li class="page-item">
					<a class="page-link" asp-controller="home" asp-action="index" asp-route-after="@Model.Pager.NextPage" rel="nofollow next">Older</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
}