@model notes.Models.RevisionListContainer

@{
	ViewBag.Title = $"Revisions - ";
}

<div class="row">
	<div class="col-lg-12">
		<div class="pb-2 mt-4 mb-2 border-bottom">
			<h1>
				<i class="fa fa-fw fa-history"></i> Revisions
			</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="table-responsive">
    		<table class="table">
				<thead>
					<tr>
						<th style="width: 250px;">Date</th>
						<th>Title</th>
					</tr>
				</thead>
				<tbody>
					@foreach(var note in Model.Revisions) {
					<tr>
						<td>
							<a href="@Url.Action("view", "revision", new { id = note.Id })">@await Component.InvokeAsync("FormatDate", new { date = note.Dt })</a>
						</td>
						<td>@note.Title</td>
					</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>