@model notes.Models.NoteListContainer
@using notes.Helper

<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<div class="btn-toolbar pull-right">
				<div class="btn-group">
					<button type="button" class="btn btn-primary" data-href="@Url.Action("create", "note")"><i class="fa fa-file"></i> Create</button>
     			</div>
   			</div>
   			<h1><i class="fa fa-file"></i> Notes</h1>
		</div>
		<ol class="breadcrumb">
			<li><i class="fa fa-home"></i> Home</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		
		@await Component.InvokeAsync("Notes", new { model = @Model.Notes })

		<nav>
			<ul class="pager">
				@if(Model.Pager.HasNext) {
				<li><a href="@Url.Action("index", "home", new { after = Model.Pager.NextPage })" rel="nofollow next">Older</a></li>
				}
			</ul>
		</nav>

	</div>
</div>