@using Notes.Options
@using Microsoft.Extensions.Options
@inject IOptionsSnapshot<AppSettings> AppSettings

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="@AppSettings.Value.SiteName">
		<meta name="author" content="">
		<meta name="version" content="@await Component.InvokeAsync("Version")">

		<title>@ViewBag.Title@AppSettings.Value.SiteName - Administration</title>

		<partial name="_PartialStyles">

		<partial name="_PartialIcons">
	</head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<!-- brand -->
				<a class="navbar-brand" asp-controller="home" asp-action="index" asp-area="">Notes - Administration</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- top menu items -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link" asp-controller="account" asp-action="index" asp-area="admin">
								<i class="fa-solid fa-fw fa-users"></i> Accounts
							</a>
						</li>
					</ul>
					<ul class="navbar-nav">
						<partial name="_PartialUser">
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			@RenderBody()

			<partial name="_PartialFooter">
		</div>

		<partial name="_PartialScripts">

		@RenderSection("script", required: false)
	</body>
</html>
