@model IEnumerable<DistinctAndCountModel>
@using Notes.Models;

@foreach(var tag in Model) {
<a class="dropdown-item" asp-route="tag" asp-route-id="@tag.Name">
	@tag.Name <span class="small text-muted">&times; @tag.Count</span>
</a>
}