@model IEnumerable<DistinctAndCountModel>
@using Notes.Models;

@foreach(var tag in Model) {
<a class="dropdown-item" href="@Url.RouteUrl("tag", new { id = tag.Name })">@tag.Name <span class="small text-muted">&times; @tag.Count</span></a>
}