@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-3">
				<nav id="navbar-settings" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
					<div class="navbar-brand">Settings</div>
					<nav class="nav flex-column">
						<a class="nav-link link-secondary" asp-controller="user" asp-action="settings" asp-area="">
							<i class="fa-solid fa-fw fa-gear"></i> Account
						</a>
						<a class="nav-link link-secondary" asp-controller="user" asp-action="security" asp-area="">
							<i class="fa-solid fa-fw fa-shield"></i> Password
						</a>
					</nav>
				</nav>
			</div>
			<div class="col-lg-4">
				@RenderBody()
			</div>
		</div>
	</div>
</div>