<hr />
<footer>
	<p class="pull-left"><span class="text-secondary">&copy; 2020 Notes!</span></p>
	<p class="pull-right"><a class="text-secondary" style="text-decoration: none;" href="https://github.com/virtualdreams/notes-core"><i class="fa fa-fw fa-github-alt"></i></a></p>
</footer>