<hr>
<footer>
	<p class="float-start">
		<small>
			<span class="text-secondary">@DateTime.UtcNow.Year Notes!</span>
		</small>
	</p>
	<p class="float-end">
		<small>
			<a class="text-secondary" style="text-decoration: none;" href="https://github.com/virtualdreams/notes-core"><i class="fa-brands fa-fw fa-github-alt"></i></a>
		</small>
	</p>
</footer>