@{
	Layout = "~/Views/Shared/_LayoutMinimal.cshtml";
	ViewBag.Title = "Bad Request - ";
}

<div style="margin-top: 100px;">
	<h2>Bad Request</h2>
	<hr>
	<h3>Your browser sent a request that this server could not understand.</h3>
</div>