@{
	Layout = "~/Views/Shared/_LayoutMinimal.cshtml";
	ViewBag.Title = "Error - ";
}

<div style="margin-top: 100px">
	<h2>Error</h2>
	<hr>
	<h3>An error occurred while processing your request.</h3>
</div>