@{
	ViewBag.Title = "Maintenance - ";
}

<div class="row">
	<div class="col-lg-12">
		<div class="pb-2 mt-4 mb-2 border-bottom">
			<h1>
				<i class="fa fa-fw fa-cog"></i> Maintenance
			</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">
				<h5>Indexes</h5>
				<p>Remove and rebuild all necessary indexes. This action can take a while.</p>
				<button class="btn btn-danger" data-href="@Url.Action("recreateindexes", "maintenance", new { area = "admin" } )">(Re)Create indexes</button>
			</div>
		</div>
	</div>
</div>
