@model notes.Models.NoteNotebookContainer
@using notes.Helper

@{
	ViewBag.Title = $"{(String.IsNullOrEmpty(Model.Notebook) ? "Without notebook" : Model.Notebook)} - ";
}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			<i class="fa fa-fw fa-book"></i> @(String.IsNullOrEmpty(Model.Notebook) ? "Without notebook" : Model.Notebook)
		</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		@if(Model.Notes.Count() > 0) {
			@await Html.PartialAsync("_PartialNotes", Model.Notes)
		} else {
			@:There are no more notes at the moment.
		}
	</div>
</div>

@if(Model.Pager.HasNext) {
<div class="row">
	<div class="col-lg-12">
		<nav>
			<ul class="pager">
				<li><a href="@Url.RouteUrl("notebook", new { id = Model.Notebook, after = Model.Pager.NextPage })" rel="nofollow next">Older</a></li>
			</ul>
		</nav>
	</div>
</div>
}