@model notes.Models.NoteNotebookContainer
@using notes.Helper

@{
	ViewBag.Title = $"{Model.Notebook} - ";
}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			<i class="fa fa-book"></i> @Model.Notebook
		</h1>
		<ol class="breadcrumb">
			<li><i class="fa fa-home"></i> <a href="@Url.Action("index", "home")">Home</a></li>
			<li><i class="fa fa-book"></i> @Model.Notebook</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		
		@await Html.PartialAsync("_PartialNotes", Model.Notes)

		<nav>
			<ul class="pager">
				@if(Model.Pager.HasNext) {
				<li><a href="@Url.Action("notebook", "note", new { id = Model.Notebook, after = Model.Pager.NextPage })" rel="nofollow next">Older</a></li>
				}
			</ul>
		</nav>
			
	</div>
</div>