@model notes.Models.NoteViewContainer

@{
	Layout = "_LayoutMinimal";
	ViewBag.Title = $"{Model.Note.Title} - ";
}

<div class="row">
	<div class="col-lg-12">
		<div class="pb-2 mt-4 mb-2 border-bottom">
			<h1>@Model.Note.Title</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<markdown>@Html.Raw(Model.Note.Content)</markdown>
	</div>
</div>