@model notes.Models.NoteTagContainer

@{
	ViewBag.Title = $"{(String.IsNullOrEmpty(Model.Tag) ? "Without tags" : Model.Tag)} - ";
}

<div class="row">
	<div class="col-lg-12">
		<div class="pb-2 mt-4 mb-2 border-bottom">
			<h1>
				<i class="fa fa-fw fa-tag"></i> @(String.IsNullOrEmpty(Model.Tag) ? "Without tags" : Model.Tag)
			</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		@if(Model.Notes.Count() > 0) {
			@await Html.PartialAsync("_PartialNotes", Model.Notes)
		} else {
			@:There are no more notes at the moment.
		}
	</div>
</div>

@if(Model.Pager.HasNext) {
<div class="row">
	<div class="col-lg-12">
		<nav>
			<ul class="pagination justify-content-center">
				<li class="page-item"><a class="page-link" href="@Url.RouteUrl("tag", new { id = Model.Tag, after = Model.Pager.NextPage })" rel="nofollow next">Older</a></li>
			</ul>
		</nav>
	</div>
</div>
}